# Config for various scripts in /usr/local/bin
# Can be sourced via ". /etc/custom/custom.conf"

ntfy_domain="{{ ntfy_domain }}"
ntfy_topic_url="{{ ntfy_topic_url }}"
ntfy_stats_topic="{{ ntfy_stats_topic }}"
ntfy_health_check_ping_url="{{ ntfy_health_check_ping_url }}"
ntfy_user_phil_pass="{{ ntfy_user_phil_pass }}"
ntfy_user_statswriter_pass="{{ ntfy_user_statswriter_pass }}"
ntfy_user_healthcheck_pass="{{ ntfy_user_healthcheck_pass }}"

ntfy_stripe_price_supporter_monthly="{{ ntfy_stripe_price_supporter_monthly }}"
ntfy_stripe_price_supporter_yearly="{{ ntfy_stripe_price_supporter_yearly }}"
ntfy_stripe_price_pro_monthly="{{ ntfy_stripe_price_pro_monthly }}"
ntfy_stripe_price_pro_yearly="{{ ntfy_stripe_price_pro_yearly }}"
ntfy_stripe_price_business_monthly="{{ ntfy_stripe_price_business_monthly }}"
ntfy_stripe_price_business_yearly="{{ ntfy_stripe_price_business_yearly }}"

ntfy_twilio_account="{{ ntfy_twilio_account }}"
ntfy_twilio_auth_token="{{ ntfy_twilio_auth_token }}"
ntfy_twilio_phone_number="{{ ntfy_twilio_phone_number }}"
ntfy_twilio_verify_service="{{ ntfy_twilio_verify_service }}"
