# Config for various scripts in /usr/local/bin
# Can be sourced via ". /etc/custom/custom.conf"

ntfy_topic_url="{{ ntfy_topic_url }}"
ntfy_phil_pass="{{ ntfy_phil_pass }}"
ntfy_statswriter_pass="{{ ntfy_statswriter_pass }}"
ntfy_health_check_ping_url="{{ ntfy_health_check_ping_url }}"

ntfy_stripe_price_supporter="{{ ntfy_stripe_price_supporter }}"
ntfy_stripe_price_pro="{{ ntfy_stripe_price_pro }}"
ntfy_stripe_price_business="{{ ntfy_stripe_price_business }}"
