[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/node_exporter --web.listen-address="{{ ntfy_internal_ip }}:9100"
SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
