# pcopy config file

# Hostname and port of the pcopy server
#
# For servers: This address is advertised to clients. It is not strictly necessary for normal copy/paste operations,
# but required for the easy-install process via 'pcopy invite'. If PORT is not defined, the default port 2586 is used.
#
# Format:    HOST[:PORT]
# Default:   None
#
ServerAddr https://{{ nopaste_domain }}

# Address and port to use to bind the server. To bind to all addresses, you may omit the address,
# e.g. :2586.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  [ADDR]:PORT
# Default: :2586
#
ListenAddr :15080/http :9999/tcp

# Default ID used when using the CLI without an ID. If this is left empty, a random ID will be chosen by
# the server. When this option is set in the server-side config, new clients will receive the default ID
# upon joining the clipboard.
#
# Format:  string consisting only of 0-9a-z.-_, but has to start with 0-9a-z
# Default: default
#
DefaultID

# If a key is defined, clients need to auth whenever they want copy/paste values
# to the clipboard. A key is derived from a password and can be generated using
# the 'pcopy keygen' command.
#
# Format:  SALT:KEY (both base64 encoded)
# Default: None
#
# Key

# Path to the TLS certificate used for the HTTPS traffic. If not set, the config file path (with
# a .crt extension) is assumed to be the path to the certificate, e.g. server.crt (if the config
# file is server.conf).
#
# For servers: This certificate is served to clients.
# For clients: If a certificate is present, it is used as the only allowed certificate to communicate
#              with a server (cert pinning).
#
# Format:  /some/path/to/server.crt (PEM formatted)
# Default: Config path, but with .crt extension
#
# CertFile

# Path to the private key for the matching certificate. If not set, the config file path (with
# a .key extension) is assumed to be the path to the private key, e.g. server.key (if the config
# file is server.conf).
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  /some/path/to/server.key (PEM formatted)
# Default: Config path, but with .key extension
#
# KeyFile

# Name of the clipboard as it is shown in the Web UI. This value is only used in the UI.
# Make sure it's not too long, or things may look ugly.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <string>
# Default: pcopy
#
ClipboardName {{ nopaste_domain }}

# Path to the directory in which the clipboard resides. If not set, this defaults to
# the path /var/cache/pcopy.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  /some/folder
# Default: /var/cache/pcopy
#
ClipboardDir /var/cache/pcopy

# Maximum total size of the entire clipboard (sum of all files). Zero disables this setting.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(GMKB)
# Default: 0 (disabled)
#
ClipboardSizeLimit 2G

# Maximum number of clipboard files. Zero disables this setting.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>
# Default: 0 (disabled)
#
ClipboardCountLimit 10000

# Maximum size per uploaded clipboard file. Zero disables a max file size.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(GMKB)
# Default: 0 (disabled)
#
FileSizeLimit 2M

# Duration after which clipboard contents will be deleted unless they are updated before.
# To disable, set to 0.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(dhms)
# Default: 7d
#
FileExpireAfter 21d 30d 2y

# Modes that are allowed to be set by the client for uploaded files, read-write ("rw") and read-only ("ro).
# If both modes are set, the client can chose. If no mode is set by the client, the first mode is used as
# a default.
#
# If you are primarily running a clipboard, using "rw ro" as a default makes the most sense.
# If you are running a nopaste, setting "ro" makes the most sense.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  rw|ro [rw|ro]
# Default: rw ro
#
FileModesAllowed ro
