---

# APT repository for ntfy

- name: Create /etc/apt/keyrings/
  file:
    path: /etc/apt/keyrings/
    state: directory
    mode: 0755

- name: Install archive.ntfy.sh repository keyring
  ansible.builtin.get_url:
    url: https://archive.ntfy.sh/apt/keyring.gpg
    dest: /etc/apt/keyrings/ntfy.gpg

- name: Add archive.ntfy.sh repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/ntfy.gpg] https://archive.ntfy.sh/apt stable main"
    state: present
    filename: ntfy

# Custom config for ntfy scripts

- name: Create /etc/custom
  file:
    path: /etc/custom
    state: directory
    mode: 0755

- name: Install /etc/custom/custom.conf
  template:
    src: custom.conf.j2
    dest: /etc/custom/custom.conf
    owner: root
    group: root
    mode: 0600

- name: Create /root/.aws
  file:
    path: /root/.aws
    state: directory
    mode: 0755

- name: Install /root/.aws/config
  copy:
    content: "{{ aws_config }}"
    dest: /root/.aws/config
    owner: root
    group: root
    mode: 0600

# Website user for ntfy website deployment

- name: Ensure group "website" exists
  group:
    state: present
    name: website
    system: true

- name: Ensure user "website" exists
  user:
    state: present
    name: website
    group: website
    home: /home/website
    shell: /bin/bash

- name: Ensure /home/website/.ssh exists
  file:
    path: /home/website/.ssh
    state: directory
    mode: 0755
    owner: website
    group: website

- name: Set authorized_keys for "website" exists
  copy:
    content: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOSzw3/tYx1o1kVchrLNxHLztpOStbX0jd0pUxQfzRwe github-actions-for-ntfy-website"
    dest: /home/website/.ssh/authorized_keys
    owner: website
    group: website
    mode: 0600

- name: Ensure /var/www/website exists
  file:
    path: /var/www/website
    state: directory
    mode: 0755
    owner: website
    group: website

- name: Ensure /var/www/website/html exists
  file:
    path: /var/www/website/html
    state: directory
    mode: 0755
    owner: website
    group: website

# Certbot & AWS config for certbot-route53 plugin

- name: Install certbot
  apt:
    pkg:
      - certbot
      - python3-certbot-dns-route53
    state: latest

- name: Create /etc/letsencrypt/renewal-hooks/post
  file:
    path: /etc/letsencrypt/renewal-hooks/post
    state: directory
    mode: 0755

- name: Install certbot post hook /etc/letsencrypt/renewal-hooks/post/nginx-reload
  copy:
    src: etc/letsencrypt/renewal-hooks/post/nginx-reload
    dest: /etc/letsencrypt/renewal-hooks/post/nginx-reload
    owner: root
    group: root
    mode: 0744

# Custom scaling configs for ntfy

- name: Install sysctl config /etc/sysctl.d/88-custom.conf
  copy:
    src: etc/sysctl.d/88-custom.conf
    dest: /etc/sysctl.d/88-custom.conf
    owner: root
    group: root
    mode: 0644

# Custom ntfy scripts and cronjobs

- name: Installing ntfy scripts in /usr/local/bin
  copy:
    src: usr/local/bin/{{ item }}
    dest: /usr/local/bin/{{ item }}
    owner: root
    group: root
    mode: 0700
  loop:
    - ntfy-checkdiskspace
    - ntfy-database-backup
    - ntfy-database-truncate
    - ntfy-health-check
    - ntfy-ssh-login
    - ntfy-stats
    - ntfy-setup
    - ntfy-debug
    - ntfy-emergency-restart
    - ntfy-nginx-alerts

- name: Install custom cronjobs /etc/cron.d/custom
  copy:
    src: etc/cron.d/custom
    dest: /etc/cron.d/custom
    owner: root
    group: root
    mode: 0644

- name: Install custom logrotate config /etc/logrotate.d/custom
  copy:
    src: etc/logrotate.d/custom
    dest: /etc/logrotate.d/custom
    owner: root
    group: root
    mode: 0644

# SSH login alert for ntfy

- name: Enable alerts on SSH login
  lineinfile:
    path: /etc/pam.d/sshd
    regexp: 'ntfy-ssh-login'
    line: session optional pam_exec.so /usr/local/bin/ntfy-ssh-login

- name: Install ntfy
  apt:
    pkg:
      - ntfy
      - sqlite3
      - jq
    state: present # Not: latest, we want to restart manually!
    update_cache: true

- name: Update /etc/ntfy/server.yml
  template:
    src: server.yml.j2
    dest: /etc/ntfy/server.yml
    owner: ntfy
    group: ntfy
    mode: 0600

- name: Update /etc/ntfy/firebase.json
  copy:
    content: "{{ ntfy_firebase_json }}"
    dest: /etc/ntfy/firebase.json
    owner: ntfy
    group: ntfy
    mode: 0600

- name: Create /etc/systemd/system/ntfy.service.d
  file:
    path: /etc/systemd/system/ntfy.service.d
    state: directory
    mode: 0755

- name: Update /etc/systemd/system/ntfy.service.d/override.conf
  copy:
    src: etc/systemd/system/ntfy.service.d/override.conf
    dest: /etc/systemd/system/ntfy.service.d/override.conf
    owner: root
    group: root
    mode: 0644

- name: Install ntfy logrotate config /etc/logrotate.d/ntfy
  copy:
    src: etc/logrotate.d/ntfy
    dest: /etc/logrotate.d/ntfy
    owner: root
    group: root
    mode: 0644

- name: Ensure log file exists /var/log/ntfy.log
  copy:
    content: ""
    dest: /var/log/ntfy.log
    force: false # !
    owner: ntfy
    group: ntfy
    mode: 0600

- name: Issue certificate for {{ ntfy_domain }}
  command:
    cmd: certbot certonly --dns-route53 -d {{ ntfy_domain }} --agree-tos -m ntfy@heckel.io -n
    creates: /etc/letsencrypt/live/{{ ntfy_domain }}

- name: Enable and start ntfy
  systemd:
    daemon-reload: yes
    name: ntfy
    state: started
    enabled: yes

- name: Enable and start ntfy
  systemd:
    daemon-reload: yes
    name: ntfy
    state: started
    enabled: yes

- name: Run setup
  command:
    cmd: ntfy-setup
    creates: /var/cache/ntfy/setup-done
