{
  "rootDir": "{{ aptly_data_dir }}",
  "downloadConcurrency": 4,
  "downloadSpeedLimit": 0,
  "architectures": [{{ aptly_architectures | map('to_json') | join(', ') }}],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
  "dependencyVerboseResolve": false,
  "gpgDisableSign": {{ 'true' if aptly_gpg_key_id == '' else 'false' }},
  "gpgDisableVerify": false,
  "gpgProvider": "gpg",
  "downloadSourcePackages": false,
  "skipLegacyPool": true,
  "ppaDistributorID": "ubuntu",
  "ppaCodename": "",
  "skipContentsPublishing": false,
  "FileSystemPublishEndpoints": {
    "public": {
      "rootDir": "{{ aptly_home }}/public",
      "linkMethod": "copy"
    }
  },
  "S3PublishEndpoints": {},
  "SwiftPublishEndpoints": {}
}