server {
  listen 80;
  listen [::]:80;
  server_name {{ repo_server_name }};
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ repo_server_name }};

  ssl_certificate /etc/letsencrypt/live/{{ repo_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ repo_server_name }}/privkey.pem;

  root {{ repo_pubdir }};
  autoindex on;

  location = / {
    return 302 /apt/;
  }

  location / {
    try_files $uri $uri/ =404;
  }
}
