upstream ntfy {
  server unix:/tmp/ntfy.sock;
}

map $request_method$request_uri $redirect_https {
    "~^GET/($|[-_a-z0-9]{0,64}$|docs/|static/|_next|_site)" yes;
    default                                                 no;
}

map $request_method$request_uri $proxy_to_backend {
    "~^GET/($|\?)" no;
    default      yes;
}

server {
  listen 80;
  server_name {{ ntfy_domain }};

  location / {
    if ($redirect_https = yes) {
      return 302 https://$http_host$request_uri$is_args$query_string;
    }

    # Rate limit (fail2ban)
    limit_req zone=one burst=1000 nodelay;

    # Proxy to backend
    proxy_pass http://ntfy;
    proxy_http_version 1.1;

    proxy_buffering off;
    proxy_request_buffering off;
    proxy_redirect off;

    proxy_set_header Host $http_host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_connect_timeout 3m;
    proxy_send_timeout 3m;
    proxy_read_timeout 3m;

    client_max_body_size 0; # Stream request body to backend
  }

  location /docs {
    rewrite ^/docs/?$ https://docs.ntfy.sh/ redirect;
    rewrite ^/docs/(.+)$ https://docs.ntfy.sh/$1 redirect;
    return 302 https://docs.ntfy.sh/;
  }
}

server {
  listen 443 ssl http2;
  server_name {{ ntfy_domain }};

  ssl_certificate /etc/letsencrypt/live/{{ ntfy_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ ntfy_domain }}/privkey.pem;

  location / {
    # Rate limit (fail2ban)
    limit_req zone=one burst=1000 nodelay;

    # Proxy config
    proxy_http_version 1.1;

    proxy_buffering off;
    proxy_request_buffering off;
    proxy_redirect off;

    proxy_set_header Host $http_host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_connect_timeout 3m;
    proxy_send_timeout 3m;
    proxy_read_timeout 3m;

    client_max_body_size 0; # Stream request body to backend

    # Proxy to ntfy backend
    if ($proxy_to_backend = yes) {
        proxy_pass http://ntfy;
        break;
    }

    # Serve ntfy website
    root /var/www/website/html;
    try_files $uri /index.html;
  }

  location /docs {
    rewrite ^/docs/?$ https://docs.ntfy.sh/ redirect;
    rewrite ^/docs/(.+)$ https://docs.ntfy.sh/$1 redirect;
    return 302 https://docs.ntfy.sh/;
  }

  location ~/(_site|_next) {
    root /var/www/website/html;
    try_files $uri /index.html;
  }
}
